@{
    ViewData["Title"] = "Sobre";
}

<h1>Sobre o Projeto</h1>

<p>Este projeto foi desenvolvido na disciplina de Desenvolvimento para Internet utilizando ASP.NET MVC.</p>

<p>O objetivo é aprender sobre Controllers, Views, rotas e navegação entre páginas.</p>