<h2>Catálogo de Produtos</h2>

<table border="1">
    <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Preço</th>
    </tr>

    @for (int i = 0; i < ViewBag.Produtos.Count; i++)
    {
        <tr>
            <td>@(i + 1)</td>
            <td>@ViewBag.Produtos[i]</td>
            <td>R$ @ViewBag.Precos[i]</td>
        </tr>
    }
</table>